<!DOCTYPE html>
{% extends "layout.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/dashboard.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="content container-fluid">
  <h1 class="page-header text-left" style="font-size: 48px;">Hello, {{ user.profile.first_name }} {{ user.profile.last_name }}</small></h1>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Challenges You've Made</div>
        <div class="panel-body">
          <table class="table">
            {% for challenge in own_challenges %}
            <tr>
              <td>{{ challenge.title }}</td>
              <td>{{ challenge.challenge.charity }}</td>
              <td>{{ challenge.goal_date|timeuntil }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Challenges You're Doing</div>
        <div class="panel-body">
          <table class="table">
            {% for challenge in challenges_participating %}
            <tr>
              <td>{{ challenge.title }}</td>
              <td>{{ challenge.challenge.charity }}</td>
              <td>{{ challenge.goal_date|timeuntil }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

    
      <div class="panel panel-default">
        <div class="panel-heading">Challenges You're Supporting</div>
        <div class="panel-body">
          <table class="table">
            {% for challenge in challenges_supporting %}
            <tr>
              <td>{{ challenge.title }}</td>
              <td>{{ challenge.challenge.charity }}</td>
              <td>{{ challenge.goal_date|timeuntil }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>@{{ user.username }}</p>
            {{ user.profile.email }}
            {{ user.profile.bitcoin_address }}
        </div>
      </div>
    </div>

  </div>
</div>
    {% endblock %}
