<!DOCTYPE html>
{% extends "layout.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/instance.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1 class="page-header text-center" style="font-size: 48px;">{{ instance.title }}<small> by {{ instance.owner }}</small></h1>
    <div class="container-fluid">
      <div class="row" style="overflow-x: none;">
        <div class="col-md-8"><img src="{% static "img/1.jpg"%}" class="img-responsize" style="width: 100%;"></div>  
        <div class="col-md-4">
          <h2 class="text-left">{{ instance.supporters.all|length }}<small><br> supporte{{ instance.supporters.all|length|pluralize:"r,rs" }}</small></h2>
          <h2 class="text-left">{{ instance.balance|floatformat:1 }}<small><br> pledged of {{ instance.bounty|floatformat }}BTC goal</small></h2>
          <h2 class="text-left">{{ instance.goal_date|timeuntil }}<small><br> to go</small></h2><br>
          {% if instance.goal_date|timeuntil != 0 %}
            <button type="button" class="btn btn-primary btn-lg btn-block">Pledge your support!</button>
          {% else %}
          <button type="button" class="btn btn-primary btn-lg btn-block disabled">Time's Up!</button>
          {% endif %}
          <button type="button" class="btn btn-lg btn-block">Challenge Someone!</button>
        </div>
      </div>
      <div class="row instance-info">
        <div class="col-md-8">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow={{ instance.percentage }} aria-valuemin="0" aria-valuemax="100"><span class="sr-only">{{ instance.percentage }} complete</span>
            </div>
          </div>
          <p class="lead">
            {{ instance.challenge.description }}  
          </p>
        </div>  
        <div class="col-md-4"><h4>Created By:</h4>{{ instance.owner.profile.name }}</div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p>{{ instance.note }}</p>
        </div>
        <div class="col-md-4">
          <h4>Participants</h4>
          {% for participant in instance.participants.all %}
          {{ participant}} 
          {% endfor %}
          <h4>Supporters:</h4>
          {% for supporter in instance.supporters.all %}
            <p>{{supporter}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}
