@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: white;
        border-right: 1px solid #e7e7e7;
        height: 100%;
    }
}

.top-navbar {
    background-color: black;
}

.content {
    padding-top: 30px; 
}

.list-group-item {
    border: none;
}
